<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Adicionar Produto</title>

    <link href="/css/bootstrap-home.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">ESPOR.TE</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" style="color: white">Programação WEB 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home"><i class="material-icons">home</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="material-icons">add_shopping_cart</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produtos/listar"><i class="material-icons">list</i></a>
            </li>
        </ul>
    </div>
</nav>
<br/>
<div class="container">
    <div class="card">
        <h1 class="card-header" th:text="${id} ? 'Editar Produto' : 'Adicionar Produto'"></h1>

        <form class="form-group" enctype="multipart/form-data" method="post" th:action="@{/produtos/adicionar}"
              th:object="${produto}">

            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                <div th:each="error : ${#fields.errors()}">
                    <span th:text="${error}"></span>
                    <span th:text="${message}"></span>
                </div>
            </div>

            <div class="card-body">
                <input type="hidden" th:field="*{id}">
                <div class="input-group mb-3">
                    <legend style="font-size: 12pt;color: red"><b>Descrição*</b></legend>
                    <input type="text" class="form-control" r placeholder="Tênis Air Speed" autofocus th:field="*{nome}" />
                </div>
                <div class="input-group mb-3">
                    <legend style="font-size: 12pt;color: red"><b>Modelo*</b></legend>
                    <input type="text" class="form-control"  placeholder="Total 90" autofocus th:field="*{modelo}" />
                </div>
                <div class="input-group mb-3">
                    <legend style="font-size: 12pt;color: red"><b>Quantidade*</b></legend>
                    <input type="number" class="form-control"  placeholder="60" autofocus th:field="*{quantidade}" />
                </div>
                <div class="input-group mb-3">
                    <legend style="font-size: 12pt;color: red"><b>Valor*</b></legend>
                    <input type="number" class="form-control"  placeholder="85.00" autofocus th:field="*{valor_unitario}" />
                </div>
                <fieldset style="border: 1px groove #ddd; margin-bottom: 20px;">
                    <legend style="width: inherit;">Categoria*</legend>
                    <div class="input-group mb-3">
                        <select th:field="*{categoria}" r>
                            <option th:each="categoria : ${listarCategorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                        </select>
                    </div>
                </fieldset>
                <fieldset style="border: 1px groove #ddd; margin-bottom: 20px;">
                    <legend style="width: inherit;">Marca*</legend>
                    <div class="input-group mb-3">
                        <select th:field="*{marca}" >
                            <option th:each="marca : ${listarMarcas}" th:value="${marca.id}" th:text="${marca.nome}"></option>
                        </select>
                    </div>
                </fieldset>
                <div>
                    <legend style="font-size: 12pt;color: red;font-weight: bold;"
                            th:text="${id} ? 'Editar foto do produto, insira uma foto.*' : 'Adicionar Foto do Produto*'"></legend>
                    <input type="file" name="file"/><br/><br/>
                </div>
                <div class="text-right">
                    <a th:href="@{/produtos/listar}" class="btn btn-outline-secondary">Voltar</a>
                    <button type="submit" class="btn btn-success" th:text="${id} == null ? 'Salvar' : 'Editar'"></button>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>