<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Programação Web II - VA1</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet"/>
    <link href="/css/components.min.css" rel="stylesheet"/>
    <link href="/css/custom.min.css" rel="stylesheet"/>
    <link href="/css/default.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/layout.min.css" rel="stylesheet"/>
    <link href="/css/plugins.min.css" rel="stylesheet"/>
    <link href="/css/simple-line-icons.min.css" rel="stylesheet"/>
    <link href="/css/daterangepicker.min.css" rel="stylesheet"/>
    <link href="/css/morris.css" rel="stylesheet"/>

</head>

<body class="page-container-bg-solid">
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <div class="page-header">
                <div class="page-header-top">
                    <div class="container">
                        <div class="page-logo">
                            <a th:href="@{/home}">
                                <img src="/imgs/fat.png" alt="logo" class="logo-default">
                            </a>
                        </div>
                    </div>
                </div>

<!--                <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                        <span class="navbar-toggler-icon"></span>-->
<!--                    </button>-->
<!--                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--                        <div class="navbar-nav">-->
<!--                            <a class="nav-item nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/clientes/listar' ? 'active':''}" th:href="@{/clientes/listar}">Clientes</a>-->
<!--                            <a class="nav-item nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/eventos/listar' ? 'active':''}" th:href="@{/eventos/listar}">Eventos</a>-->
<!--                            <a class="nav-item nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/sessoes/listar' ? 'active':''}" th:href="@{/sessoes/listar}">Sessões</a>-->
<!--                            <a class="nav-item nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/lanches/listar' ? 'active':''}" th:href="@{/lanches/listar}">Lanches</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </nav>-->

                <div class="page-header-menu">
                    <div class="container">
                        <div class="hor-menu  ">
                            <ul class="nav navbar-nav">
                                <li aria-haspopup="true" class="menu-dropdown">
                                    <a class="nav-item nav-link"
                                       th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}"
                                       th:href="@{/home}"> Início
                                    </a>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown">
                                    <a class="nav-item nav-link"
                                       th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}"
                                       th:href="@{/home}"> Produtos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <div class="page-container">
                <div class="page-content-wrapper">
                    <div class="page-head">
                        <div class="container">
                            <div class="page-title">
                                <h1>ESPOR.TE
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="container">
                            <div class="page-content-inner">
                                <div class="mt-content-body">


                                    PÁGINA PRINCIPAL

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--RODAPÉ-->
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                <div class="page-prefooter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                                <h2>Programação Web II</h2>
                                <p> Trabalho para obtenção de nota referente a primeira avaliação do semestre. Professor: Felipe Queiroz </p>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                                <h2>Aluno</h2>
                                <address class="margin-bottom-40"> Emanuel Vitor
                                    <br> Email:
                                    <a href="#">vitorcc13@gmail.com</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-footer">
                    <div class="container"> 2019 &copy; Emanuel Vitor &nbsp;|&nbsp;
                        <a target="_blank" href="http://www.fat-al.edu.br">Faculdade de Tecnologia de Alagoas</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--FINAL RODAPÉ-->

<script type="text/javascript" src="/js/daterangepicker.min.js"></script>
<script type="text/javascript" src="/js/app.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.blockui.min.js"></script>
<script type="text/javascript" src="/js/dashboard.min.js"></script>
<script type="text/javascript" src="/js/quick-sidebar.min.js"></script>
<script type="text/javascript" src="/js/demo.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/js/js.cookie.min.js"></script>
<script type="text/javascript" src="/js/layout.min.js"></script>
<script type="text/javascript" src="/js/quick-nav.min.js"></script>
<script type="text/javascript" src="/js/morris.min.js"></script>
<script type="text/javascript" src="/js/raphael-min.js"></script>

</body>

</html>